/*Select CSS*/
a{
	text-decoration:none;
	font-size: 30px;
	border: none;
	color: white;
}
.sel {
	font-size: 30px;
}
.s1{
	width: 400px;
	height: auto;
	text-align: center;
	background-color: #172a55;
	border-radius: 4px;
}
.s2{
	width: 400px;
	height: auto;
	text-align: center;
	background-color: white;
	border-radius: 4px;
}
.s3{
	font-size: 17px;
	height: auto;
	width: auto;
	margin-top: 100px;
	text-align: center;
	color: #172a55;
}
.s1 a{
	display: block;
	width: 400px;
}
.s1:hover,.s1 a:hover{
	width: 400px;
	height: auto;
	text-align: center;
	background-color: white;
	border-radius: 4px;
	color: #172a55;
	transition: 0.2s;
}
/*----------------------------------*/